.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    flex-direction: column;
}

.tables{
    display: flex;
    flex-direction: row;
    width: 90%;
    min-height: 10vh;
    gap:4em
}

.flexContainer{
 width: 60%;
 min-height:10%;
 border: 2px solid rgb(114,18,45);
color: rgb(243, 243, 243);
box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
-webkit-box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
-moz-box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
}

.position{
    width: 30%;
    min-height:10%;
    border: 2px solid rgb(114,18,45);
    font-size: 1.3em;
    color: black;
    box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
-webkit-box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
-moz-box-shadow: 7px 8px 34px -5px rgba(0,0,0,0.54);
}


.titles{
    display: flex;
    height: 3em;
    border-bottom: 4px solid rgb(114,18,45);
    background-color: rgb(114,18,45);
    
}


.titles2, .titles3{
    display: flex;
    height: 3em;
    border-bottom: 0px solid rgb(114,18,45);
    background-color: rgb(114,18,45);
justify-content: center;}

.titles2 th, .titles3 th{
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
font-size: 1.3em;
}

.matchs{
    display: flex;
    height: 4em;
    border-bottom: 4px solid rgb(114,18,45);
}

.matchs1 {
    display: flex;
    height: 3em;
    border-bottom: 4px solid rgb(114,18,45);
}

.matchs td , .matchs1 td{
    color: black;
}


.titles th{
    color:white;
}


.titles th:nth-child(2),.matchs td:nth-child(2){
    display: flex;
    width: 55%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.titles th:nth-child(3),.matchs td:nth-child(3){
    display: flex;
    width: 25%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.titles th:nth-child(1), .matchs td:nth-child(1){
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.titles3 th:nth-child(-n + 5){
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.titles3 th:nth-child(1){
    display: flex;
    width: 30%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;

}

.titles3{
    border-top: 3px solid white;
}


.matchs1 td:nth-child(-n +5){
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.matchs1 td:nth-child(1){
    display: flex;
    width: 30%;
    height: 100%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}
 .matchs td:nth-child(-n+2),  .matchs1 td:nth-child(-n+4){
    border-right: 4px solid rgb(114,18,45) ;
}

.titles th:nth-child(-n+2){
    border-right: 4px solid rgb(255, 255, 255) ;
}

.titles3 th:nth-child(-n+4){
    border-right: 4px solid rgb(255, 255, 255) ;
}

.teams img:nth-child(1){
    display: flex;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}
.teams img:nth-child(5){
    display: flex;
    width: 2em;
    height: 2em;
    margin-left: 1em;
}

.teams span{
    display: flex;
    width: 1em;
    align-items: center;
    justify-content: center;
}

.teams input:nth-child(2){
    width: 1.5em;
    margin-left: 1em;
}
.teams input:nth-child(4){
    width: 1.5em;
    margin-right: 1em;
}

.teams input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selecciones{
    color: rgb(61, 61, 61);
    letter-spacing: 15px;
    font-weight: 100;
    margin-top: 5em;
}


@media (max-width: 768px){

.flexContainer{
    width: 100%;
}


}